.rating {
    font-size:100px; 
    color:orange;
    margin-left: 5vw;
}

.p-rating {
    display: inline-block;
    position: relative;
    bottom: 22px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 3vw;
    padding-top:1vw;
    padding-bottom:1vw;
    padding-left: 3vw;
    padding-right:3vw;
}

.container {
    margin-top: 8vh;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding-bottom: 2vh;
}

h2 {
    margin-top: 2vh;
    text-align: center;
}

.div-rating {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 2vw;
}

.comment-rating {
    margin-left: 6vw;
    font-size: 16px;
}

.div-rating button {
    position:relative;
    left: 24vw;;
    width:8vw;
    margin-bottom: 2vh;
}

.other-comments {
    padding: 1.5vh;
    margin-top: 8vh;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.user-comment {
    padding: 1vh;
}

.username {
    margin: 0px;
}

.comentary, .rating {
    display: inline-block;
}

.username, .comentary, .rating {
    margin-left: 5vw;
}

.star {
    width: 3vw;
}

.puntuacion {
    font-size: 2vw;
}

.star, .puntuacion {
    position: relative;
    float:right;
    bottom:1vh;
    right:1vw;
}

.user-image {
    border-radius: 50px;
    position:absolute;
    width: 4vw;
}

.oscuro {
    background-color: rgb(194, 194, 194);
}

.claro {
    background-color: rgb(236, 236, 236);
}
