* {
    margin-left:3vw;
    margin-top:3vh;
}

.container {
    margin-top:0vh;
    margin-left: 0;
    padding-top:5.5vh;
}

#portada {
    position: relative;
    display: inline-block;
    width: 20vw;
    height: 40vh;
    border-radius: 10px;
}

h2, .descripcion, .precio {
    position: absolute;
    left:35vw;
}

h2 {
    top: 28vh;
}

.descripcion {
    top: 34vh;
    margin-right:14vw;
}

.precio {
    position: absolute;
    top: 58vh;
    left:32vw;
    color: orangered;
    font-size: 6vh;
}

button {
    position: absolute;
    top: 60vh;
    right:22vw;

}

.heart {
    position:absolute;
    width: 8vh;
    left: 29vw;
}

app-rating {
    margin:2vw;
}