.container {
    padding-top:4vh;
}

ul {
    margin-left: 2vw;
}

li {
    margin-right: 5vw;
}

li p{
    display:inline-block;
    margin-left:6vw;
    font-size: 3vh;
}

i {
    cursor: move;
}

img {
    height: 16vh;
    width: 10vw;
}

.oscuro {
    background-color: rgb(194, 194, 194);
}

.claro {
    background-color: rgb(236, 236, 236);
}

.empty-cart {
    padding-top: 4vh;
    text-align: center;
    font-size: 2vh;
}

.empty-cart img {
    width: 10vw;
    height: 22vh;
    border-radius: 8px;
    margin-bottom: 2vh;
}


.vaya {
    margin-top: 6vh;
    text-align: center;
    font-size: 5vh;
}