<div class="container" *ngIf="wishlist[0] != null">
    <ul class="list-group" cdkDropList (cdkDropListDropped)="onDropped($event)">
        <li class="list-group-item" *ngFor="let game of wishlist;let impar= odd;let par = even; let indice = index" [ngClass]="{oscuro:par,claro:impar}" cdkDrag>
            <i>{{indice + 1}}</i>
            <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </i>
            <img src="{{game.imagen}}" [routerLink]="['/game', game['id_producto']]" [routerLinkActivate]="['activado']"/>
            <p [routerLink]="['/game', game['id_producto']]" [routerLinkActivate]="['activado']">{{game.nombre_producto}}</p>
            <button type="button" class="close" aria-label="Close" (click)="delWishlist(game['id_producto'])">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
    </ul>
</div>

<div class="empty-cart" *ngIf="wishlist[0] == null">
    <p class="vaya">¡VAYA!</p>
    <p>Parece que no tiene ningún producto en su lista de deseos...</p>
    <img src="https://cdn.shopify.com/app-store/listing_images/34ae0275ebf361b3f6135ce614b37b6e/icon/CMeP5cL0lu8CEAE=.png">
</div>
