<p>cart works!</p>
<div class="container" *ngIf="cartlist[0] != null">
    <table>
        <tr *ngFor="let game of cartlist;let indice=index">
            <td><img src="{{game['imagen']}}" [routerLink]="['/game', game['id_producto']]" [routerLinkActivate]="['activado']"/></td>
            <td class="name" [routerLink]="['/game', game['id_producto']]" [routerLinkActivate]="['activado']"><p>{{game['nombre_producto']}}</p></td>
            <td class="cantidad">
                <i *ngIf="game.cantidad ge 0" (click)="updateCantidad([game['cantidad'], 'restar'], game['id_pedido'], game['id_producto'])">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill top-arrow" viewBox="0 0 16 16">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                    </svg>
                </i>
                <p>{{game['cantidad']}}</p>
                <i (click)="updateCantidad([game['cantidad'], 'sumar'], game['id_pedido'], game['id_producto'])">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill bot-arrow" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </i>
            </td>
            <td class="price"><p>{{game['precio']}}€</p></td>
        </tr>
    </table>
    <hr>
    <button class="btn btn-success" (click)="buyRequest(cartlist[0]['id_pedido'])">Comprar</button>
    <p class="price total"><b>{{all_total}}€</b></p>
</div>
<div class="empty-cart" *ngIf="cartlist[0] == null">
    <p class="vaya">¡VAYA!</p>
    <p>Parece que no tiene ningún producto en el carrito...</p>
    <img src="../../assets/images/carrito.png">
</div>