@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
    margin: 0;
}

header {
    width: 100vw;
    height: 12vh;
    background-color: black;
    box-sizing: border-box;
    color: white;
}

.logo {
    display: inline-block;
    position: absolute;
    left: 14vw;
    top: 1vh;
}

.logo img {
    width: 10vh;
}

.search {
    position: absolute;
    left: 42vw;
    margin-top: 3.5vh;
}

.user-image {
    width: 3vw;
    height: 6vh;
    border-radius: 50px;
    border-image: 1px black;
} 

.signup, .signin {
    padding-top: 3.5vh;
}

.login button {
    position:absolute;
    right: 15vw;
}

.user {
    margin-top: 2vh;
}

body {
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-image: url('../assets/images/background.jpg');
    background-size: 100vw 100vh;
}

nav, section {
	margin-left: 13vw;
	margin-right: 13vw;
}

nav {
    margin-bottom: 1vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    width: 73vw;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 20px;
}

.categ {
    margin-left: 1vw;
    position: relative;
    opacity:1;
}

.dropdown {
    display: inline-block;
}

.fav, .cesta {
    top:15vh;
    position: absolute;

}

.fav {
    right: 18vw;
}

.cesta {
    right: 15vw;
}

section {
	background-color: rgb(29, 29, 29);
	font-size: 20px;
    width: 73vw;
    min-height: 64.5vh;
    padding-bottom: 3vh;
    border-radius: 10px;
    color:white;
}

footer {
    width: 100vw;
    height: 12.5vh;
    background-color: black;
    box-sizing: border-box;
    color: white;
    bottom: 0px;
}

/**** MODAL CSS ****/

.signin {
    position:absolute;
    right: 21vw;

}

.signup {
    position:absolute;
    right: 15vw;
}

.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.error {
    color: rgb(245, 5, 5);
    background-color:#FE8585;
    padding-left: 1vw;
    font-size: 15px;
}

.is-danger{
    color: red;
}