* {
    margin: 0;
}

header {
    width: 100vw;
    height: 12vh;
    background-color: black;
    box-sizing: border-box;
    color: white;
}

.login button {
    position:absolute;
    right: 15vw;
}

nav, section {
	margin-left: 13vw;
	margin-right: 13vw;
}

nav {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 73vw;
}

.dropdown {
    display: inline-block;
}

.fav, .cesta {
    top:15vh;
    position: absolute;

}

.fav {
    right: 18vw;
}

.cesta {
    right: 15vw;
}

section {
	background-color: #7FFFD4;
	font-size: 20px;
    width: 73vw;
    min-height: 64.5vh;
    margin-top: 1vh;
    margin-bottom: 3vh;
    padding-bottom: 3vh;
    border-radius: 10px;
}

footer {
    width: 100vw;
    height: 12vh;
    background-color: black;
    box-sizing: border-box;
    color: white;
    bottom: 0px;
}