<header>
  <div class="logo">
    <img src="../assets/images/logo.png" [routerLink]="['/']">
  </div>
  <div class="search">
    <form (submit)=searchProduct()>
      <div class="input-group">
        <div class="form-outline">
          <input type="search"[(ngModel)]="search" name="search" class="form-control" placeholder="Buscar" />
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>
  </div>
  <div class="login">
    <div class="d-flex justify-content-center">
      <!--Button for sign up-->
      <div class="text-center signin">
        <a href="" class="btn btn-primary" data-toggle="modal" data-target="#signupPage" *ngIf="!token">Registrarse&nbsp;<i class="bi bi-person-plus"></i></a>
      </div>
      <!--button for Signin Page-->
      <div class="text-center signup">
        <a href="" id="signinButton"class="btn btn-primary" data-toggle="modal" data-target="#signinPage" *ngIf="!token">Iniciar Sesión&nbsp;<i class="bi bi-box-arrow-in-right"></i></a>
      </div>
      <!--button for User Profile-->
      <button class="btn btn-primary user" *ngIf="token">
        <div class="dropdown">
          <div class="dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
            <img class="user-image" src="{{user_img[0]['imagen']}}">
          </div>
          <div class="dropdown-menu">
            <div class="dropdown-item">
              <a [routerLink]="['/profile', id_user]" [routerLinkActivate]="['activado']">Ver Perfil</a>
            </div>
            <div class="dropdown-item">
              <a (click)="logOut()">Cerrar Sesión</a>
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>
</header>
<body>
  <nav>
    <!--COMIENZO Categorias-->
    <div class="dropdown categ">
      <div class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Categorias
      </div>
      <div class="dropdown-menu">
        <div class="dropdown-item" *ngFor="let categoria of categories">
          <i (click)="filterGamelist(categoria['id_categoria'])">{{categoria['nombre_categoria']}}</i>
        </div>
      </div>
    </div>
    <!--FINAL Categorias-->
    <!--LISTA DE DESEOS-->
    <div *ngIf="token" [routerLink]="['/wishlist']" routerLinkActivate="['activado']">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="42" fill="red" class="bi bi-heart fav" viewBox="0 0 16 16">
        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
      </svg>
    </div>
    <div *ngIf="!token" data-toggle="modal" data-target="#signinPage">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="42" fill="red" class="bi bi-heart fav" viewBox="0 0 16 16">
        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
      </svg>
    </div>
    <!--CESTA DE LA COMPRA-->
    <div *ngIf="token" [routerLink]="['/cart']" routerLinkActivate="['activado']">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="42" fill="currentColor" class="bi bi-cart-check cesta" viewBox="0 0 16 16">
        <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
    </div>
    <div *ngIf="!token" data-toggle="modal" data-target="#signinPage">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="42" fill="currentColor" class="bi bi-cart-check cesta" viewBox="0 0 16 16">
        <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
    </div>
    
  </nav>
  <section>
    <router-outlet></router-outlet>
  </section>

  
</body>

<footer>
  <img src="../assets/images/paypal.png">
  <img src="../assets/images/bitcoin.png">
  <img src="../assets/images/americanexpress.png">
  <img src="../assets/images/visa.png">
  <img src="../assets/images/mastercard.png">
</footer>



<!--Sign up page Content-->
<div class="modal fade" id="signupPage">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header text-center">
        <h4 class="modal-title text-center w-100 font-weight-bold">Registro</h4>
        <button type="button" class="close" data-dismiss="modal" aria-lable="close">&times;</button>
      </div>
      <form [formGroup]="form1" (submit)="signUp()">
        <div class="modal-body mx-3"> 
            <div class="md-form input-icons" >
              <i class="bi bi-person-circle icon" ></i>
              <input type="text" formControlName="nombre" class="form-control validate input-field" placeholder="Nombre">
              <div *ngIf="form1.get('nombre').errors && form1.get('nombre').touched">
                <p class="error" *ngIf="form1.get('nombre').hasError('required')">
                  <b>Es un campo requerido</b>
                </p>
              </div>
            </div>

            <div class="md-form input-icons">
              <i class="bi bi-people icon"></i>
              <input type="text" formControlName="apellidos" class="form-control validate input-field" placeholder="Apellidos">
            </div>

            <div class="md-form input-icons">
              <i class="bi bi-envelope icon"></i>
              <input type="email" formControlName="email" class="form-control validate input-field" placeholder="Email">
              <div *ngIf="form1.get('email').errors && form1.get('email').touched">
                <p class="error" *ngIf="form1.get('email').hasError('required')">
                  <b>Es un campo requerido</b>
                </p>
                <p class="error" *ngIf="form1.get('email').hasError('email')">
                  Debe introducir un email válido
                </p>
              </div>
            </div>

            <div class="md-form input-icons">
              <i class="bi bi-geo-alt icon"></i>
              <input type="text" formControlName="direccion" class="form-control validate input-field" placeholder="Direccion">
              <div *ngIf="form1.get('direccion').errors && form1.get('direccion').touched">
                <p class="error" *ngIf="form1.get('direccion').hasError('required')">
                  <b>Es un campo requerido</b>
                </p>
              </div>
            </div>

            <div class="md-form input-icons">
              <i class="bi bi-lock icon"></i>
              <input type="password" formControlName="password" class="form-control validate input-field" placeholder="Contraseña">
              <div *ngIf="form1.get('password').errors && form1.get('password').touched">
                <p class="error" *ngIf="form1.get('password').hasError('required')">
                  <b>Es un campo requerido</b>
                </p>
                <p class="error" *ngIf="form1.get('password').hasError('minlength')">
                  Debe tener al menos 6 carácteres
                </p>
              </div>
            </div>
        </div>

        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-primary" [disabled]="form1.invalid">Registrarse</button>
        </div>
    </form>

    </div>
  </div>
</div>

<!--Sign In page Content-->
<div class="modal fade" id="signinPage">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title w100 dark-grey-text font-weight-bold">Iniciar Sesión</h3>
        <button type="button" class="close" data-dismiss="modal" aria-lable="close">&times;</button>
      </div>
      <div class="modal-body mx-4">
        <form [formGroup]="form2" (submit)="signIn()">
          <div class="md-form input-icons">
            <i class="bi bi-envelope icon"></i>  
            <input type="email" formControlName="email" class="form-control validate input-field" placeholder="Tu Email" required>
            <div *ngIf="form2.get('email').errors && form2.get('email').touched">
              <p class="error" *ngIf="form2.get('email').hasError('required')">
                <b>Es un campo requerido</b>
              </p>
              <p class="error" *ngIf="form2.get('email').hasError('email')">
                <b>Debe ser un email válido</b>
              </p>
            </div>
          </div>
          <div *ngIf="!check">
            <p class="error">
              Debes de verificar el correo primero
            </p>
          </div>
          
          <div class="md-form input-icons">
            <i class="bi bi-lock icon"></i>
            <input type="password" formControlName="password" class="form-control validate input-field" placeholder="Tu Contraseña" required>
            <div *ngIf="form2.get('password').errors && form2.get('password').touched">
              <p class="error" *ngIf="form2.get('password').hasError('required')">
                <b>Es un campo requerido</b>
              </p>
            </div>
          </div>

          <div class="text-center mb-3">
            <button type="submit" class="btn btn-primary btn-block z-depth-1a" [disabled]="form2.invalid">Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





