.container {
    padding-bottom:2vh;
}

h2 {
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;

}

.pedido {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-left:2vw;
    margin-right: 2vw;
    margin-bottom:3vh;
    background-color: rgb(224, 224, 224);
    color:black;
}

.id_pedido {
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-bottom-width: 3px;
    border-right-width: 3px;
    background-color: rgb(29, 29, 29);
    color:white;
}

.fecha_pedido {
    margin-left:1vw;
    font-size: 14px;
    position: relative;
    bottom:0vh;
}

.producto {
    margin-top: 3vh;
    margin-left: 2vw;
    padding-bottom: 3vh;
}

img {
    width: 8vw;
    height: 18vh;
    border-radius: 8px;
}

table {
    width:55vw;
}

.envio {
    color: green;
}

.devuelto {
    color: red;
}

.empty-cart {
    text-align: center;
    font-size: 2vh;
}

.vaya {
    margin-top: 6vh;
    text-align: center;
    font-size: 4vh;
}