<div class="content">
    <h2>Panel de Administración</h2>
    <div class="services" (click)='getUsers()'>
        <i class="bi bi-people"></i>
        <p>Usuarios</p>
    </div>
    <div class="services" (click)='getProducts()'>
        <i class="bi bi-controller"></i>
        <p>Productos</p>
    </div>
    <div class="services" (click)='getCategories()'>
        <i class="bi bi-funnel"></i>
        <p>Categorias</p>
    </div>

    <div class="container" *ngIf="users">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-xs-6">
							<h2>Administrar <b>Usuarios</b></h2>
						</div>
						<div class="col-xs-6">
							<a href="#addUserModal" class="btn btn-success" data-toggle="modal"><i class="bi bi-plus-circle"></i><span>Añadir Usuario</span></a>
							<a href="#editUserModal" class="btn btn-warning" data-toggle="modal"><i class="bi bi-pen-fill" data-toggle="tooltip" title="Edit"></i><span>Editar Usuario</span></a>
						</div>
					</div>
				</div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Email</th>
                            <th>Contraseña</th>
                            <th>Dirección</th>
                            <th>Admin</th>
                            <th>Acción</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let user of users">
							<td>{{user.id_usuario}}</td>
							<td>{{user.nombre}}</td>
                            <td>{{user.apellidos}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.password}}</td>
                            <td>{{user.direccion}}</td>
                            <td>{{user.admin}}</td>
							<td>
								<a class="delete" (click)='deleteUser(user.id_usuario)'><i class="bi bi-trash-fill" title="Delete"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>        
    </div>
	
	<div class="container" *ngIf="games">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-xs-6">
							<h2>Administrar <b>Juegos</b></h2>
						</div>
						<div class="col-xs-6">
							<a href="#addProductModal" class="btn btn-success" data-toggle="modal"><i class="bi bi-plus-circle"></i><span>Añadir Juego</span></a>
							<a href="#editProductModal" class="btn btn-warning" data-toggle="modal"><i class="bi bi-pen-fill" data-toggle="tooltip" title="Edit"></i><span>Editar Juego</span></a>
						</div>
					</div>
				</div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Categoría</th>
                            <th>Imagen</th>
							<th>Acción</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let game of games">
							<td>{{game.id_producto}}</td>
							<td>{{game.nombre_producto}}</td>
                            <td>{{game.descripcion}}</td>
                            <td>{{game.precio}}</td>
                            <td>{{game.stock}}</td>
                            <td>{{game.id_categoria}}</td>
							<td>{{game.imagen}}</td>
							<td>
								<a class="delete" (click)='deleteProduct(game.id_producto)'><i class="bi bi-trash-fill" title="Delete"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>        
    </div>
	<div class="container" *ngIf="categories">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-xs-6">
							<h2>Administrar <b>Categorias</b></h2>
						</div>
						<div class="col-xs-6">
							<a href="#addCategoryModal" class="btn btn-success" data-toggle="modal"><i class="bi bi-plus-circle"></i><span>Añadir Categoria</span></a>
							<a href="#editCategoryModal" class="btn btn-warning" data-toggle="modal"><i class="bi bi-pen-fill" data-toggle="tooltip" title="Edit"></i><span>Editar Categoria</span></a>
						</div>
					</div>
				</div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
                            <th>Descripcion</th>
							<th>Accion</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let category of categories">
							<td>{{category.id_categoria}}</td>
							<td>{{category.nombre_categoria}}</td>
                            <td>{{category.descripcion_categoria}}</td>
							<td>
								<a class="delete" (click)='deleteCategory(category.id_categoria)'><i class="bi bi-trash-fill" title="Delete"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>        
    </div>
	


	<!--USER MODALS-->
	<!--ADD-->
	<div class="modal fade" id="addUserModal">
		<div class="modal-dialog">
		  <div class="modal-content">
	  
			<div class="modal-header text-center">
			  <h4 class="modal-title text-center w-100 font-weight-bold">Añadir Usuario</h4>
			  <button type="button" class="close" data-dismiss="modal" aria-lable="close">&times;</button>
			</div>
			<form [formGroup]="form1" (submit)="setUser()">
			  <div class="modal-body mx-3"> 
				  <div class="md-form input-icons" >
					<i class="bi bi-person-circle icon" ></i>
					<input type="text" formControlName="nombre" class="form-control validate input-field" placeholder="Nombre">
					<div *ngIf="form1.get('nombre').errors && form1.get('nombre').touched">
					  <p class="error" *ngIf="form1.get('nombre').hasError('required')">
						<b>Es un campo requerido</b>
					  </p>
					</div>
				  </div>
	  
				  <div class="md-form input-icons">
					<i class="bi bi-people icon"></i>
					<input type="text" formControlName="apellidos" class="form-control validate input-field" placeholder="Apellidos">
				  </div>
	  
				  <div class="md-form input-icons">
					<i class="bi bi-envelope icon"></i>
					<input type="email" formControlName="email" class="form-control validate input-field" placeholder="Email">
					<div *ngIf="form1.get('email').errors && form1.get('email').touched">
					  <p class="error" *ngIf="form1.get('email').hasError('required')">
						<b>Es un campo requerido</b>
					  </p>
					  <p class="error" *ngIf="form1.get('email').hasError('email')">
						Debe introducir un email válido
					  </p>
					</div>
				  </div>
	  
				  <div class="md-form input-icons">
					<i class="bi bi-geo-alt icon"></i>
					<input type="text" formControlName="direccion" class="form-control validate input-field" placeholder="Direccion">
					<div *ngIf="form1.get('direccion').errors && form1.get('direccion').touched">
					  <p class="error" *ngIf="form1.get('direccion').hasError('required')">
						<b>Es un campo requerido</b>
					  </p>
					</div>
				  </div>
	  
				  <div class="md-form input-icons">
					<i class="bi bi-lock icon"></i>
					<input type="password" formControlName="password" class="form-control validate input-field" placeholder="Contraseña">
					<div *ngIf="form1.get('password').errors && form1.get('password').touched">
					  <p class="error" *ngIf="form1.get('password').hasError('required')">
						<b>Es un campo requerido</b>
					  </p>
					  <p class="error" *ngIf="form1.get('password').hasError('minlength')">
						Debe tener al menos 6 carácteres
					  </p>
					</div>
				  </div>
				  <div class="md-form input-icons">
					<i class="bi bi-person-plus icon"></i>
					<input type="text" formControlName="admin" class="form-control validate input-field" placeholder="True | False">
					<div *ngIf="form1.get('admin').errors && form1.get('admin').touched">
						<p class="error">
							<b>Debe ser 'true' o 'false'</b>
						</p>
					</div>
				  </div>
			  </div>
	  
			  <div class="modal-footer d-flex justify-content-center">
				<button type="submit" class="btn btn-primary" [disabled]="form1.invalid">Registrarse</button>
			  </div>
		  </form>
	  
		  </div>
		</div>
	  </div>

	<!--MODIFY-->
	<div class="modal fade" id="editUserModal">
		<div class="modal-dialog">
		  <div class="modal-content">
	  
			<div class="modal-header text-center">
			  <h4 class="modal-title text-center w-100 font-weight-bold">Editar Usuario</h4>
			  <button type="button" class="close" data-dismiss="modal" aria-lable="close">&times;</button>
			</div>
			<form [formGroup]="form1" (submit)="updateUser()">
				<div class="modal-body mx-3"> 
					<div class="md-form input-icons" >
						<i class="bi bi-file-binary icon"></i>
						<input type="text" formControlName="id" class="form-control validate input-field" placeholder="ID">
						<div *ngIf="form1.get('id').errors && form1.get('id').touched">
						  <p class="error" *ngIf="form1.get('id').hasError('required')">
							<b>Es un campo requerido</b>
						  </p>
						</div>
					</div>

					<div class="md-form input-icons" >
					  <i class="bi bi-person-circle icon" ></i>
					  <input type="text" formControlName="nombre" class="form-control validate input-field" placeholder="Nombre">
					  <div *ngIf="form1.get('nombre').errors && form1.get('nombre').touched">
						<p class="error" *ngIf="form1.get('nombre').hasError('required')">
						  <b>Es un campo requerido</b>
						</p>
					  </div>
					</div>
		
					<div class="md-form input-icons">
					  <i class="bi bi-people icon"></i>
					  <input type="text" formControlName="apellidos" class="form-control validate input-field" placeholder="Apellidos">
					</div>
		
					<div class="md-form input-icons">
					  <i class="bi bi-envelope icon"></i>
					  <input type="email" formControlName="email" class="form-control validate input-field" placeholder="Email">
					  <div *ngIf="form1.get('email').errors && form1.get('email').touched">
						<p class="error" *ngIf="form1.get('email').hasError('required')">
						  <b>Es un campo requerido</b>
						</p>
						<p class="error" *ngIf="form1.get('email').hasError('email')">
						  Debe introducir un email válido
						</p>
					  </div>
					</div>
					
					<div class="md-form input-icons">
					  <i class="bi bi-person-plus icon"></i>
					  <input type="text" formControlName="admin" class="form-control validate input-field" placeholder="True | False">
					  <div *ngIf="form1.get('admin').errors && form1.get('admin').touched">
						  <p class="error">
							  <b>Debe ser 'true' o 'false'</b>
						  </p>
					  </div>
					</div>
				</div>
		
				<div class="modal-footer d-flex justify-content-center">
				  <button type="submit" class="btn btn-primary" >Editar</button>
				</div>
		  </form>
	  
		  </div>
		</div>
	  </div>


	<!--PRODUCT MODALS-->
	<!--ADD-->
	<div class="modal fade" id="addProductModal">
		<div class="modal-dialog">
		  <div class="modal-content">
	  
			<div class="modal-header text-center">
			  <h4 class="modal-title text-center w-100 font-weight-bold">Añadir Producto</h4>
			  <button type="button" class="close" data-dismiss="modal" aria-lable="close">&times;</button>
			</div>
			<form [formGroup]="form2" (submit)="setProduct()">
			  <div class="modal-body mx-3"> 
				  <div class="md-form input-icons" >
					<i class="bi bi-person-circle icon" ></i>
					<input type="text" formControlName="nombre" class="form-control validate input-field" placeholder="Nombre">
					<div *ngIf="form2.get('nombre').errors && form2.get('nombre').touched">
					  <p class="error" *ngIf="form2.get('nombre').hasError('required')">
						<b>Es un campo requerido</b>
					  </p>
					</div>
				  </div>
	  
				  <div class="md-form input-icons">
					<i class="bi bi-chat-right-dots icon"></i>
					<!--<input type="text" formControlName="descripcion" class="form-control validate input-field" placeholder="Descripcion">-->
					<textarea formControlName="descripcion" class="form-control validate input-field" placeholder="Descripcion"></textarea>
					<div *ngIf="form2.get('descripcion').errors && form2.get('descripcion').touched">
						<p class="error" *ngIf="form2.get('descripcion').hasError('required')">
						  <b>Es un campo requerido</b>
						</p>
						<p class="error" *ngIf="form2.get('descripcion').hasError('maxlength')">
							<b>No puedes superar los 250 carácteres</b>
						</p>
					</div>
				  </div>
	  
				  <div class="md-form input-icons">
					<i class="bi bi-currency-euro icon"></i>
					<input type="text" formControlName="precio" class="form-control validate input-field" placeholder="Precio">
					<div *ngIf="form2.get('precio').errors && form2.get('precio').touched">
					  <p class="error" *ngIf="form2.get('precio').hasError('required')">
						<b>Es un campo requerido</b>
					  </p>
					</div>
				  </div>
	  
				  <div class="md-form input-icons">
					<i class="bi bi-box-seam icon"></i>
					<input type="text" formControlName="stock" class="form-control validate input-field" placeholder="Stock">
					<div *ngIf="form2.get('stock').errors && form2.get('stock').touched">
					  <p class="error" *ngIf="form2.get('stock').hasError('required')">
						<b>Es un campo requerido</b>
					  </p>
					</div>
				  </div>
	  
				  <div class="md-form input-icons">
					<i class="bi bi-link icon"></i>
					<input type="text" formControlName="imagen" class="form-control validate input-field" placeholder="URL">
					<div *ngIf="form2.get('imagen').errors && form2.get('imagen').touched">
					  <p class="error" *ngIf="form2.get('imagen').hasError('required')">
						<b>Es un campo requerido</b>
					  </p>
					</div>
				  </div>
				  <div class="md-form input-icons">
					<i class="bi bi-file-binary icon"></i>
					<input type="text" formControlName="categoria" class="form-control validate input-field" placeholder="ID Categoria">
					<div *ngIf="form2.get('categoria').errors && form2.get('categoria').touched">
						<p class="error" *ngIf="form2.get('categoria').hasError('required')">
							<b>Es un campo requerido</b>
						</p>
					</div>
				  </div>
			  </div>
	  
			  <div class="modal-footer d-flex justify-content-center">
				<button type="submit" class="btn btn-primary" [disabled]="form2.invalid">Añadir</button>
			  </div>
		  </form>
	  
		  </div>
		</div>
	  </div>

	<!--MODIFY-->
	<div class="modal fade" id="editProductModal">
		<div class="modal-dialog">
		  <div class="modal-content">
	  
			<div class="modal-header text-center">
			  <h4 class="modal-title text-center w-100 font-weight-bold">Editar Producto</h4>
			  <button type="button" class="close" data-dismiss="modal" aria-lable="close">&times;</button>
			</div>
			<form [formGroup]="form2" (submit)="updateProduct()">
				<div class="modal-body mx-3"> 
					<div class="md-form input-icons" >
						<i class="bi bi-file-binary icon"></i>
						<input type="text" formControlName="id" class="form-control validate input-field" placeholder="ID">
						<div *ngIf="form2.get('id').errors && form2.get('id').touched">
						  <p class="error" *ngIf="form2.get('id').hasError('required')">
							<b>Es un campo requerido</b>
						  </p>
						</div>
					</div>

					<div class="md-form input-icons" >
						<i class="bi bi-currency-euro icon"></i>
					  <input type="text" formControlName="precio" class="form-control validate input-field" placeholder="Precio">
					  <div *ngIf="form2.get('precio').errors && form2.get('precio').touched">
						<p class="error" *ngIf="form2.get('precio').hasError('required')">
						  <b>Es un campo requerido</b>
						</p>
					  </div>
					</div>

					<div class="md-form input-icons">
					   <i class="bi bi-box-seam icon"></i>
					  <input type="text" formControlName="stock" class="form-control validate input-field" placeholder="Stock">
					  <div *ngIf="form2.get('stock').errors && form2.get('stock').touched">
						<p class="error" *ngIf="form2.get('stock').hasError('required')">
						  <b>Es un campo requerido</b>
						</p>
					  </div>
					</div>
				</div>
		
				<div class="modal-footer d-flex justify-content-center">
				  <button type="submit" class="btn btn-primary" >Editar</button>
				</div>
		  </form>
	  
		  </div>
		</div>
	  </div>


	<!--CATEGORY MODALS-->
	<!--ADD-->
	<div class="modal fade" id="addCategoryModal">
		<div class="modal-dialog">
		  <div class="modal-content">
	  
			<div class="modal-header text-center">
			  <h4 class="modal-title text-center w-100 font-weight-bold">Añadir Categoria</h4>
			  <button type="button" class="close" data-dismiss="modal" aria-lable="close">&times;</button>
			</div>
			<form [formGroup]="form3" (submit)="setCategory()">
			  <div class="modal-body mx-3"> 
				  <div class="md-form input-icons" >
					<i class="bi bi-person-circle icon" ></i>
					<input type="text" formControlName="nombre" class="form-control validate input-field" placeholder="Nombre">
					<div *ngIf="form3.get('nombre').errors && form3.get('nombre').touched">
					  <p class="error" *ngIf="form3.get('nombre').hasError('required')">
						<b>Es un campo requerido</b>
					  </p>
					</div>
				  </div>
	  
				  <div class="md-form input-icons">
					<i class="bi bi-chat-right-dots icon"></i>
					<textarea formControlName="descripcion" class="form-control validate input-field" placeholder="Descripcion"></textarea>
					<div *ngIf="form3.get('descripcion').errors && form3.get('descripcion').touched">
						<p class="error" *ngIf="form3.get('descripcion').hasError('required')">
						  <b>Es un campo requerido</b>
						</p>
						<p class="error" *ngIf="form3.get('descripcion').hasError('maxlength')">
							<b>No puedes superar los 250 carácteres</b>
						</p>
					</div>
				  </div>
			  </div>
	  
			  <div class="modal-footer d-flex justify-content-center">
				<button type="submit" class="btn btn-primary" [disabled]="form3.invalid">Añadir</button>
			  </div>
		  </form>
	  
		  </div>
		</div>
	  </div>

	<!--MODIFY-->
	<div class="modal fade" id="editCategoryModal">
		<div class="modal-dialog">
		  <div class="modal-content">
	  
			<div class="modal-header text-center">
			  <h4 class="modal-title text-center w-100 font-weight-bold">Editar Categoria</h4>
			  <button type="button" class="close" data-dismiss="modal" aria-lable="close">&times;</button>
			</div>
			<form [formGroup]="form3" (submit)="updateCategory()">
				<div class="modal-body mx-3"> 
					<div class="md-form input-icons" >
						<i class="bi bi-file-binary icon"></i>
						<input type="text" formControlName="id" class="form-control validate input-field" placeholder="ID">
						<div *ngIf="form3.get('id').errors && form3.get('id').touched">
						  <p class="error" *ngIf="form3.get('id').hasError('required')">
							<b>Es un campo requerido</b>
						  </p>
						</div>
					</div>

					<div class="md-form input-icons" >
						<i class="bi bi-person-circle icon" ></i>
						<input type="text" formControlName="nombre" class="form-control validate input-field" placeholder="Nombre">
					  <div *ngIf="form3.get('nombre').errors && form3.get('nombre').touched">
						<p class="error" *ngIf="form3.get('nombre').hasError('required')">
						  <b>Es un campo requerido</b>
						</p>
					  </div>
					</div>

					<div class="md-form input-icons">
						<i class="bi bi-chat-right-dots icon"></i>
						<textarea formControlName="descripcion" class="form-control validate input-field" placeholder="Descripcion"></textarea>
						<div *ngIf="form3.get('descripcion').errors && form3.get('descripcion').touched">
							<p class="error" *ngIf="form3.get('descripcion').hasError('required')">
							<b>Es un campo requerido</b>
							</p>
							<p class="error" *ngIf="form3.get('descripcion').hasError('maxlength')">
								<b>No puedes superar los 250 carácteres</b>
							</p>
						</div>
					</div>
				</div>
		
				<div class="modal-footer d-flex justify-content-center">
				  <button type="submit" class="btn btn-primary" >Editar</button>
				</div>
		  </form>
	  
		  </div>
		</div>
	  </div>
</div>