.row {
    padding-top: 3vh;
}

.alert-danger {
    color: #721c24;
    background: #f8d7da;
    border-color: #f5c6cb;
    margin-bottom: 5px;
    font-size: 15px;
}

.container-error-message {
    padding-left:1vw;
}